#languages-list,#skills-list,#hobbies-list
{
    list-style : none;   
    margin-left: 0;
    padding-left: 0;
}
#languages-list li,#skills-list li,#hobbies-list li
{
    margin-bottom: 3px;
}
.cv-subtitle
{
    color: rgb(40, 108, 218);
    font-weight: bold;
}
.cv-section 
{
    margin-bottom: 25px;
}
.progress-bar
{
    background-color: #00A7FF !important;
}