<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>P R O F I L</h2>
            <hr>
            <p>
                Développeur .NET Framework avec une bonne connaissance dans ce domaine,<br>
                perfectionniste et sérieux, cherche toujours des nouveaux challenges.
            </p>
            <h2>I N T É R Ê T S</h2>
            <hr>
            <ul>
                <li>Voyager : Asie (South Korea, Japon, Thaïlande).</li>
                <li>Sport: Musculation, Football.</li>
                <li>Camping, Randonner</li>
            </ul>
            <h2>L A N G U E S</h2>
            <hr>
            <ul>
                <li>Arabe : * * * * *</li>
                <li>Français : * * * *</li>
                <li>Anglais : * * * *</li>
            </ul>
            <h2>C O M P É T E N C E S</h2>
            <hr>
            <ul>
                <li><b>Langages : </b>C#, JAVA, HTML, CSS, JavaScript, XML, PHP, TypeScript</li>
                <li><b>OS : </b>Windows, Linux</li>
                <li><b>SGBD : </b>SQL Server, Oracle Database</li>
                <li><b>VSC : </b>Git, TFS</li>
                <li><b>Bibliothèque : </b>Bootstrap, JQuery</li>
                <li><b>Framework : </b>Angular</li>
                <li><b>CMS : </b>Wordpress</li>
            </ul>
            <h2>S T A G E S</h2>
            <hr>
            <p>
                Fév. 2017 – Mai. 2017<br>
                <b>AACMI - </b>Projet de Fin d Etudes<br>
                Développement et maintenance d’un ERP spécifique.
            </p>
            <hr>
            <p>
                Jan. 2017 – Fév. 2017<br>
                <b>STB - </b>Stage<br>
                Développement d’une application C# permettant de gérer les tickets d’essences.
            </p>
            <hr>
            <p>
                Jan. 2014 – Fév. 2014<br>
                <b>STB - </b>Stage de perfectionnement<br>
                Développement d’une application web permettant de gérer tous les stagiaires aux sièges et les agences
            </p>
            <hr>
            <p>
                Jan. 2013 – Fév. 2013<br>
                <b>STUSID - </b>Stage d initiation<br>
            </p>
        </div>
        <div class="col-6">
            <h2>E X P É R I E N C E S</h2>
            <hr>
            Jan. 2019 – Aujourd’hui (1 an)<br>
            <b>TSI</b><br>
            <h3>Analyste Développeur .NET</h3>
            Mission | Projets
            <ul>
                <li>Conception et développement du progiciel ERP de TSI</li>
                <li>Mission FARMASI :
                    <ul>
                        <li>Concevoir et développement de logiciel commercial de FARMASI</li>
                    </ul>
                </li>
            </ul>
            Technologies| Outils<br>
            <p>C# 5.0, .Net Framework 4.5, Microsoft SQL Server 2014, SAP Crystal Reports, Visual Studio 2017, DevExpress 17, WPF, WinForms</p>
            <hr>
            Sep. 2017 – Dec. 2018 (1 an et 3 mois)<br>
            <b>AACMI</b>
            <h3>Développeur .NET</h3>
            Mission | Projets<br>
            <p>
                Conception et développement d’un ERP spécifique. Développement et maintenance du site web
            </p>
            Technologies/ Outils<br>
            <p>
                C# 5.0, .Net Framework 4.5, Microsoft SQL Server 2012, SAP Crystal Reports, Visual Studio 2013, Wordpress, Visual Studio Code
            </p>
            <h2>F O R M A T I O N</h2>
            <hr>
            2019 – Aujourd’hui<br>
            <h3>
                Mastère Professionnel Spécialité : Ingénierie des applications Web-Nuagiques
            </h3>
            <i>UVT / ISET Kairouan</i>
            <hr>
            2012 - 2017<br>
            <h3>
                Licence Applique en Informatique Spécialité : Développement Système Informatique
            </h3>
            <i>ISET Charguia</i>
            <hr>
            2012<br>
            <h3>
                Baccalauréat en Sciences de L’Informatique
            </h3>
            <i>Lycée Ibn Rachik, Ben Arous, Ezzahra</i>
            <hr>

        </div>
    </div>
</div>