.navbar-brand
{
    font-size: 2em;
    font-family: 'Luckiest Guy', cursive;
    margin-right: 15%;
}
.nav-link
{
    font-family: 'Viga', sans-serif;
}
.navbar-text
{
    margin-right: 10px;    
}
.navbar-text a 
{
    margin : 0 5px;
}