<div class="col-12 text-center about-me-title">
    <h1>EXPERIENCE</h1>
</div>
<div class="row d-flex flex-row align-items-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <app-experience-detail [title]="'Full stack developer'"></app-experience-detail>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <app-experience-detail [title]="'Full stack developer'"></app-experience-detail>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <app-experience-detail [title]="'Full stack developer'"></app-experience-detail>
    </div>
</div>
