<div id="contact-me">
    <div class="contact-section col-md-8 shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-center">
            Contactez Moi
        </h1>
        <p class="text-center">
            Contactez-moi pour toute question ou demande de renseignements. Je serais
            heureux de répondre à votre question.
        </p>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nameInput" placeholder="Name">
                <label for="nameInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
                <label for="emailInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="subjectInput" placeholder="Sujet">
                <label for="subjectInput">Sujet</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="messageInput" style="height: 100px" placeholder="Message"></textarea>
                <label for="messageInput">Message</label>
            </div>
            <button type="submit" class="btn btn-dark" [disabled]="f.invalid">Envoyer</button>
        </form>
    </div>
</div>