#contactMe {
    color: #333333;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.contact-section {
    padding: 50px !important;
    margin: 25px 0;
    background-color: red;
}
h1,
p {
    text-align: center;
}
