<!-- Header -->
<header [ngClass]="{
  'header': true,
  'bg-theme-1': currentHeaderTheme === 'theme-1',
  'bg-theme-2': currentHeaderTheme === 'theme-2',
}">
  <app-header></app-header>
</header>

<!-- Body -->

<!-- Home -->
<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center first-background-color"
  id="home">
  <app-home></app-home>
</div>

<!-- Experience -->
<div class="container-fluid d-flex flex-column align-items-center second-background-color" id="experience">
  <app-experience class="w-100"></app-experience>
</div>

<!-- Contact-Me -->
<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center first-background-color"
  id="contact-me">
  <app-contact-me></app-contact-me>
</div>

<!-- Language options -->
<div class="language">
  <i class="fa-solid fa-language fa-2xl"></i>
  <div class="triangle"></div>
  <ul>
    <li (click)="useLanguage('en')" [ngClass]="{ 'active-lang' : currentLang('en')}">
      <img class="flag" src="https://flagsapi.com/US/flat/24.png">
      <span>{{ 'Language.EN' | translate }}</span>
    </li>
    <li (click)="useLanguage('fr')" [ngClass]="{ 'active-lang' : currentLang('fr')}">
      <img class="flag" src="https://flagsapi.com/FR/flat/24.png">
      <span>{{ 'Language.FR' | translate }}</span>
    </li>
  </ul>
</div>

<!-- Social media links -->
<div class="navbar-social-media-menu">
  <a *ngFor="let account of accounts" [href]="account.link" target="_blank">
    <i [class]="'fa-brands fa-' + account.name + ' fa-lg'"></i>
  </a>
</div>