<!--Header-->
<app-header></app-header>

<!--Body-->
<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" id="home">
  <app-home></app-home>
</div>

<div class="container-fluid vh-100 d-flex flex-column align-items-center" id="experience">
  <app-experience class="w-100"></app-experience>
</div>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" id="contact-me">
  <app-contact-me></app-contact-me>
</div>

<!-- Language options -->
<div class="language">
  <i class="fa-solid fa-language fa-2xl"></i>
  <div class="triangle"></div>
  <ul>
      <li (click)="useLanguage('en')" [ngClass]="{ 'active-lang' : currentLang('en')}">
          <img class="flag" src="https://flagsapi.com/US/flat/24.png">
          <span>{{ 'Language.EN' | translate }}</span>
      </li>
      <li (click)="useLanguage('fr')" [ngClass]="{ 'active-lang' : currentLang('fr')}">
          <img class="flag" src="https://flagsapi.com/FR/flat/24.png">
          <span>{{ 'Language.FR' | translate }}</span>
      </li>
  </ul>
</div>