@import "../../../styles-variables.scss";

.navbar {

    .navbar-icon {
        margin: 0 20px;
        &:hover {
            cursor: pointer;
        }
    }

    .navbar-toggler {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(59, 153, 186, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        &:focus {
            box-shadow: unset;
        }
    }

    .navbar-collapse {
        justify-content: space-between;
        .navbar-menu {
            .nav-item {
                font-size: 1.1em;
                font-family: $viga-font;
                color: $first-text-color;
                user-select: none;

                i {
                    color: $secondary-color;
                }

                &:hover {
                    cursor: pointer;
                }

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }

        .navbar-social-media-menu {
            margin-right: 10px;

            a {
                margin: 0 7px;
                opacity: 0.5;
                transition: opacity 0.2s;

                i {
                    color: $secondary-color;
                }
            }

            a:hover {
                opacity: 1;
            }
        }
    }
}