@import "../../../styles-variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-icon {
        &:hover {
            cursor: pointer;
        }
    }

    .navbar-menu {
        .nav-item {
            font-size: 1.1em;
            font-family: $viga-font;
            color: $first-text-color;
            user-select: none;

            i {
                color: $secondary-color;
            }
            &:hover {
                cursor: pointer;
            }
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
        
    }

    .navbar-social-media-buttons {
        margin-right: 10px;
        a {
            margin: 0 7px;
            opacity: 0.5;
            transition: opacity 0.2s;

            i {
                color: $secondary-color;
            }
        }
        a:hover {
            opacity: 1;
        }
    }
}
