/* COLORS */

$background-color-1: #3c3f58;  // Initially the primary color used as the background
$text-color-1: #8892b0;        // Initially the second-text color used for text
$highlight-color-1: #3b99ba;

$background-color-2: #8892b0;  // The color that becomes the background on scroll
$text-color-2: #3c3f58;  
$highlight-color-2: #296980;

$title-color: #ccd6f6;

/* FONTS */

/* Google Fonts
    Viga For Titles and Navbar items (font-family: 'Viga', sans-serif;) 
    Montserrat for normal text (paragraphs,etc...) (font-family: 'Montserrat', sans-serif;)
*/

$viga-font: "Viga", sans-serif;
$normal-text-font: "Montserrat", sans-serif;
