@import 'styles-variables.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

.first-background-color {
    background-color: $background-color-1;
}

.second-background-color {
    background-color: $background-color-2;
}

i {
    color: #7a7978;
}

hr {
    background-color: #bdd4e7;
}

.hr-detail {
    width: 50%;
}

h1 {
    color: $title-color;
    font-family: $viga-font;
}

p, span {
    font-family: $normal-text-font;
}
