@import 'styles-variables.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: $primary-color;
}

i {
    color: #7a7978;
}

hr {
    background-color: #bdd4e7;
}

.hr-detail {
    width: 50%;
}


h1 {
    color: $first-text-color;
    font-family: $viga-font;
}

h2, p {
    color: $second-text-color;
}

p, span {
    font-family: $normal-text-font;
}
