<div class="container">
    <div class="row shadow-sm p-3 mb-5 bg-white rounded">
        <div class="col-12 col-lg-4">
            <h1>Welcome to my website</h1>
        </div>
        <div class="col-12 col-lg-8">
            <p>
                Hi everyone, welcome to my website ! It's a project that I want to do it for a long time.<br>
                You will feel welcome either if you are a developper or a recruiter.<br>
                If you are a developper and you want to learn about new technologies or the base of programming you can find everything in docs section.<br>
                If you are a recruiter you can find my parkour in the Curriculum vitæ section.<br>
                If you have any kind of question feel free to contact me<br>
            </p>
        </div>
    </div>
</div>