<div class="container">
    <div class="col-12 col-lg-12">
        <h1>
            <span>{{ 'Home.Welcome' | translate }}</span>
            <span>{{ 'Home.Name' | translate }}</span>
        </h1>
        <h2>{{ 'Home.Slogan' | translate }}</h2>
    </div>
    <!-- <div class="col-12 col-lg-8">
            <p>
                Hi everyone, welcome to my website ! It's a project that I want to do it for a long time.<br>
                You will feel welcome either if you are a developper or a recruiter.<br>
                If you are a developper and you want to learn about new technologies or the base of programming you can
                find everything in docs section.<br>
                If you are a recruiter you can find my parkour in the Curriculum vitæ section.<br>
                If you have any kind of question feel free to contact me<br>
            </p>
        </div> -->
</div>