<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 col-lg-8">
        <h1>
            <span>{{ 'Home.Welcome' | translate }}</span>
            <span>{{ 'Home.Name' | translate }}</span>
        </h1>
        <h2>{{ 'Home.Slogan' | translate }}</h2>
    </div>
    <div class="col-12 col-lg-8">
        <!-- <p>
            Hi everyone, welcome to my website ! It's a project that I want to do it for a long time.<br>
            You will feel welcome either if you are a developper or a recruiter.<br>
            If you are a developper and you want to learn about new technologies or the base of programming you can
            find everything in docs section.<br>
            If you are a recruiter you can find my parkour in the Curriculum vitæ section.<br>
            If you have any kind of question feel free to contact me<br>
        </p> -->

        <p>
            👋 Hey there! I'm Mohamed Iskander Haouem, a passionate full-stack developer on a perpetual quest to explore
            and embrace new technologies. My heart beats a little faster when it comes to the frontend, especially the
            captivating realm of design.
            <br><br>
            🚀 In the vast landscape of development, I've navigated through ERPs, crafted generic applications, and
            reveled in the art of creating seamless user experiences. Each project is not just a codebase for me; it's a
            journey, a challenge, and an opportunity to bring ideas to life.
            <br><br>
            🌐 My love for learning is as boundless as the digital realm itself. Whether it's mastering a new framework,
            perfecting a design principle, or diving into the intricacies of backend wizardry, I thrive on the
            continuous evolution of my skills.
            <br><br>
            Let's embark on a digital adventure together—where every line of code tells a story, and every design choice
            paints a picture. Welcome to my world of tech and creativity! 🚀✨
        </p>
    </div>
</div>