@import "../../styles-variables.scss";

h1 {
    color: $first-text-color;
    font-family: $viga-font;
    span:nth-child(2) {
        color: $secondary-color;
    }
}

h2 {
    color: $second-text-color;
}
